<h1>Welcome to Game2Share</h1>
<p>Game2share allows you to find, download and enjoy greats games and apps. Out goal is to provide cools apps on several platforms including Linux, Android and Windows.</p>
{% if not short %}
	<hr/>
	<h3>About us</h3>
	<p>Developped by Matthias Devlamynck, Martin Le Guillou, Enrick Champigny and Jordi Fernandez</p>
{% endif %}
