<h1>Bienvenu sur Game2Share</h1>
<p>Game2share vous permet de trouver, de télécharger et d'apprécier les meilleurs jeux et applications. Notre but est de fournir des applications cools sur différentes plateformes telles que Linux, Android et Windows.</p>
{% if not short %}
	<hr/>
	<h3>A propos de nous</h3>
	<p>Développé par Matthias Devlamynck, Martin Le Guillou, Enrick Champigny et Jordi Fernandez</p>
{% endif %}
