{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Contacts
{% endblock %}

{% block body %}
  {{ parent() }}
  <h1>Contact</h1>
  <p>Vous pouvez nous contacter aux adresses suivantes :</p>
  <ul class="list-group">
	  <li class="list-group-item"><span class="glyphicon glyphicon-envelope"/> <a href="mailto:matthias.devlamynck@y-nov.com">Matthias Devlamynck</a></li>
	  <li class="list-group-item"><span class="glyphicon glyphicon-envelope"/> <a href="mailto:martin.leguillou@y-nov.com">Martin Le Guillou</a></li>
	  <li class="list-group-item"><span class="glyphicon glyphicon-envelope"/> <a href="mailto:enrick.champigny@y-nov.com">Enrick Champigny</a></li>
	  <li class="list-group-item"><span class="glyphicon glyphicon-envelope"/> <a href="mailto:jordi.fernandez@y-nov.com">Jordi Fernandez</a></li>
  </ul>
{% endblock %}
