{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Home
{% endblock %}

{% block body %}
  {{ parent() }}
  </div>
  <div class="jumbotron">
	{{ include('G2sAppBundle:Home:about.html.twig', {'short': true}) }}
  </div>
  <div class="container">
{% endblock %}
