{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Home
{% endblock %}

{% block body %}
  {{ parent() }}

    <link type="text/css" rel="stylesheet" href="../../web/css/jquery.autocomplete.css" />
    <script type="text/javascript" src="../../web/js/jquery.js"></script>
    <script type="text/javascript" src="../../web/js/jquery-autocomplete/jquery.autocomplete.js"></script>
 <script type="text/javascript">
$(document).ready(function() {
    $('#tags').autocomplete('autocompleteacc.php');
});
</script>

  <h1>AutoComplete</h1>

  <div class="ui-widget">
        <label for="tags">Tags: </label>
        <input id="tags">
    </div>
{% endblock %}