{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Home
{% endblock %}

{% block body %}
	{{ parent() }}

	<h1>Applications For Tag : {{ tagName }}</h1>

	{% for app in apps %}

		{{ include('G2sAppBundle:Apps:show-one.html.twig', {'app': app}) }}

	{% endfor %}

{% endblock %}
